.tasks-area-main
{
    padding: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasks-area-main > table
{
    text-align: center;
}

th
{
    color:white;
}

.taskAdd
{
    border-bottom: 0;
    width: 1%;
}

.tasks-area-pagination-wrapper
{
    display: flex;
    justify-content: center;
}

.taskAdd > div
{
    width: 50%;
    border-radius: 7%;
}